<!DOCTYPE HTML>
<html>

  <head>
    <title>My Flask Web App, Hurray!</title>
  </head>

  <body>
    <h1>Details</h1>
    <p>You loaded this page on {{ date }}<br>Mad!</p>
    <p>And now some details, you know, crazy things and so on!</p>
    <p>For example, I can tell you that:</p>

    {% if month < 7 %}
      <h2>It's the first half of the year!</h2>
    {% else %}
      <h2>It's the second half of the year!</h2>
    {% endif %}
    <p>I can also show you what you can do when using loops with Flask:</p>
    <ul>

    {% for name in names %}
      <li>{{ name }}</li>
    {% endfor %}
    </ul>

    <a href="{{ url_for('index')}}">Home</a>
  </body>

</html>
